<div class="titlebar">
  <div class="appname" *ngIf="platform === 'darwin'">
    GReader
  </div>
  <div class="buttons">
    <!-- buttons at left -->
    <div class="left">
      <a href="#"><i class="fa fa-book"></i></a>
      <a href="#"><i class="fa fa-list"></i></a>
    </div>

    <!-- book title -->
    <span class="center">{{ title }}</span>

    <!-- buttons at right -->
    <div class="right">
      <a href="#"><i class="fa fa-font"></i></a>
      <a href="#"><i class="fa fa-bookmark"></i></a>
      <a href="#"><i class="fa fa-angle-down"></i></a>
    </div>
  </div>
</div>
